body {
  width: 100%;
  margin: 0;
  font-size: 1vw; }
  @media (min-width: 1000px) {
    body {
      font-size: 10px; } }
  @media (max-width: 400px) {
    body {
      font-size: 4px; } }

textarea {
  font-size: 1px;
  display: block;
  position: fixed;
  top: 15vw;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  resize: none;
  opacity: 0; }
  @media (min-width: 800px) {
    textarea {
      top: 120px; } }

.messageContainer {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto; }
  .messageContainer .header {
    display: flex;
    position: relaitve;
    width: 100%; }
    .messageContainer .header .title {
      flex: 1;
      min-width: 60px;
      color: #BBBBBB;
      position: relative;
      top: 15px;
      font-size: 4.5em;
      font-family: "Patua One";
      margin-left: 20px; }
    .messageContainer .header .buttons {
      flex: 1;
      display: flex;
      margin: 10px;
      max-width: 250px; }
      .messageContainer .header .buttons button {
        flex: 1;
        margin-left: 5px;
        height: 40px;
        font-family: "Patua One";
        border: 3px solid rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        background-color: transparent;
        color: #BBBBBB;
        font-size: 16px;
        cursor: pointer;
        box-shadow: inset -2px -2px 2px 1px rgba(0, 0, 0, 0.2);
        outline: 0; }
        @media (max-width: 400px) {
          .messageContainer .header .buttons button {
            font-size: 14px; } }
      .messageContainer .header .buttons button:active {
        background-color: transparent;
        box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }
  .messageContainer #cursor {
    height: 10em;
    width: 6em;
    background-color: black;
    position: relative;
    top: 1em; }

.letterWrap {
  display: block;
  position: relative;
  z-index: -1;
  margin-top: 40px;
  padding-right: 1em;
  padding-left: 1em; }
  .letterWrap span {
    display: inline-block; }
  .letterWrap .letter {
    position: relative; }

.typeMessage {
  font-family: "Patua One";
  color: #BBBBBB;
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 10em;
  margin-top: 50px;
  animation: blink 1.5s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.infoContainerWrap {
  font-family: "Lato";
  font-size: 16px;
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 80px;
  z-index: 1; }
  .infoContainerWrap .infoContainer {
    position: relative;
    background-color: white;
    padding: 1em;
    box-shadow: 1px 1px 17px 0px rgba(0, 0, 0, 0.4);
    display: block;
    max-width: 500px;
    margin: 0 auto; }
    .infoContainerWrap .infoContainer h1 {
      text-align: center;
      font-size: 2.5em;
      font-weight: 600; }
    .infoContainerWrap .infoContainer h2 {
      text-align: center;
      font-size: 1.5em;
      font-weight: 600; }
    .infoContainerWrap .infoContainer p {
      padding: 0.5em;
      font-size: 1em;
      font-weight: 400; }
    .infoContainerWrap .infoContainer a {
      color: #000000; }
    .infoContainerWrap .infoContainer .inputPair {
      display: flex; }
      .infoContainerWrap .infoContainer .inputPair > * {
        flex: 1;
        display: inline-block;
        padding: 5px;
        border-top: 2px solid #CCCCCC;
        border-bottom: 2px solid #CCCCCC; }
      .infoContainerWrap .infoContainer .inputPair input {
        font-size: 1.3em;
        margin: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        font-family: sans-serif;
        border-right: none;
        border-left: 2px solid #CCCCCC;
        box-sizing: border-box;
        resize: none;
        outline: none; }
      .infoContainerWrap .infoContainer .inputPair button {
        font-family: sans-serif;
        font-size: 1em;
        max-width: 80px;
        cursor: pointer;
        margin: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #FFFFFF;
        border: 2px solid #000000;
        color: #000000;
        font-weight: bold; }
        @media (max-width: 400px) {
          .infoContainerWrap .infoContainer .inputPair button {
            font-size: 0.8em; } }
    .infoContainerWrap .infoContainer .closeBtn {
      position: absolute;
      right: 0;
      top: 0;
      margin: 10px;
      border: 2px solid #FFB6B6;
      height: 25px;
      width: 50px;
      background-color: #FF0000;
      color: #FFFFFF;
      cursor: pointer;
      font-family: "Lato";
      font-weight: bold;
      outline: none; }
    .infoContainerWrap .infoContainer .icons {
      text-align: center;
      font-size: 2em; }
      .infoContainerWrap .infoContainer .icons i {
        padding-left: 0.3em;
        padding-right: 0.3em; }
    .infoContainerWrap .infoContainer .donate {
      text-align: center; }
      .infoContainerWrap .infoContainer .donate a {
        text-decoration: none;
        padding: 6px 45px;
        font-family: "Patua One";
        border-radius: 20px;
        background-color: #54ff96;
        color: #FFFFFF;
        font-size: 16px;
        cursor: pointer;
        box-shadow: inset -2px -2px 2px 1px rgba(0, 0, 0, 0.2); }
