body {
	width: 100%;
	margin: 0;
	font-size: 1vw;
	@media (min-width: 1000px) {
		font-size: 10px;
	}
	@media (max-width: 400px) {
		font-size: 4px;
	}
}

textarea {
	font-size: 1px;
	display: block;
	position: fixed;
	top: 15vw;
	@media (min-width: 800px) {
		top: 120px;
	}
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	resize: none;
	opacity: 0;
}

.messageContainer {
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;

	.header {
		display: flex;
		position: relaitve;
		width: 100%;

		.title {
			flex: 1;
			min-width: 60px;
			color: #BBBBBB;
			position: relative;
			top: 15px;
			font-size: 4.5em;
			font-family: "Patua One";
			margin-left: 20px;
		}

		.buttons {
			flex: 1;
			display: flex;
			margin: 10px;
			max-width: 250px;

			button {
				flex: 1;
				// position: absolute;
				// top: 10px;
				// right: 10px;
				// width: 100px;
				margin-left: 5px;
			    height: 40px;
			    font-family: "Patua One";
			    border: 3px solid rgba(0,0,0,0.2);
			    border-radius: 20px;
			    background-color: rgba(0,0,0,0);
			    color: #BBBBBB;
			    font-size: 16px;
			    @media (max-width: 400px) {
					font-size: 14px;
				}
			    cursor: pointer;
			    box-shadow: inset -2px -2px 2px 1px rgba(0,0,0,0.2);
			    outline: 0;
			}
			button:active {
				background-color: rgba(0,0,0,0);
				box-shadow: inset 2px 2px 2px 1px rgba(0,0,0,0.2);
			}
		}
	}

	#cursor {
		height: 10em;
		width: 6em;
		background-color: black;
		position: relative;
		top: 1em;
	}
}

.letterWrap {
	display: block;
	position: relative;
	z-index: -1;
	margin-top: 40px;
	padding-right: 1em;
	padding-left: 1em;
	span {
		display: inline-block;
	}
	.letter {
		position: relative;
	}
}

.typeMessage {
	font-family: "Patua One";
	color: #BBBBBB;
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 10em;
	margin-top: 50px;
	animation: blink 1.5s infinite;
}

@keyframes blink {
	0% {opacity: 1}
	50% {opacity: 0.5}
	100% {opacity: 1}
}

.infoContainerWrap {
	font-family: "Lato";
	font-size: 16px;
	display: block;
	position: absolute;
	right: 0;
	left: 0;
	top: 80px; //WOW
	z-index: 1;

	.infoContainer {
		position: relative;
		background-color: white;
		padding: 1em;
    	box-shadow: 1px 1px 17px 0px rgba(0,0,0,0.4);
		display: block;
		max-width: 500px;
		margin: 0 auto;

		h1 {
			text-align: center;
			font-size: 2.5em;
			font-weight: 600;
		}

		h2 {
			text-align: center;
			font-size: 1.5em;
			font-weight: 600;
		}

		p {
			padding: 0.5em;
			font-size: 1em;
			font-weight: 400;
		}

		a {
			color: #000000;
		}

		input {
		    border-radius: .2em;
			font-family: sans-serif;
			padding: .2em;
			border: 2px solid #CCCCCC;
			box-sizing: border-box;
			font-size: 1.3em;
			resize: none;
			width: 100%;
			outline: none;
		}

		.closeBtn {
			position: absolute;
		    right: 0;
		    top: 0;
		    margin: 10px;
		    border: 2px solid #FFB6B6;
		    height: 25px;
		    width: 50px;
		    background-color: #FF0000;
		    color: #FFFFFF;
		    cursor: pointer;
		    font-family: "Lato";
		    font-weight: bold;
		    outline: none;
		}

		.icons {
			text-align: center;
			font-size: 2em;

			i {
				padding-left: 0.3em;
				padding-right: 0.3em;
			}
		}
		
		.donate {
			text-align: center;

			a {
				text-decoration: none;
			    padding: 6px 45px;
			    font-family: "Patua One";
			    border-radius: 20px;
			    background-color: #54ff96;
			    color: #FFFFFF;
			    font-size: 16px;
			    cursor: pointer;
			    box-shadow: inset -2px -2px 2px 1px rgba(0, 0, 0, 0.2);
			}
		}
	}
}