<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
</head>
<body>

	<div id="app" class="messageContainer">
			<div class="header">
				<div class="title">Ransom Note Generator</div>
				<div class="buttons">
					<button id="randombtn" @click="randomizeLetters()">randomize</button>
					<button id="infobtn" @click="toggleInfo()">info</button>
					<button id="sharebtn" @click="toggleShare()">share</button>
				</div>
			</div>
			<share v-show='shareShow'></share>
			<info v-show="infoShow" @click="toggleInfo()"></info>
			<div class="typeMessage" v-show="typeShow">Start typing...</div>
			<textarea id="m" v-model="letters" @input="reassignChar()" autofocus
			></textarea>
			<div class="letterWrap">
				<letter class="letter" v-for="letter in letters" track-by="$index" v-ref:item :char="letters"></letter>
			</div>
		</div>
	</div>

	<template id="letter-template">
		<span :style="styleObj">{{character}}</span>
	</template>

	<template id="info-template">
		<div class="infoContainerWrap">
			<div class="infoContainer">
				<h1>Designed by: Kyle Yount</h1>
				<h2><a href='http://kyount.com'>www.kyount.com</a></h2>
				<div class="icons">
					<a href="https://twitter.com/Gatoraay"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="https://www.linkedin.com/in/kyle-yount-90328639"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
				</div>
				<p>Thank you for visiting! This is a small side-project I built that was intended to help me learn a reactive front-end framework, <a href="http://vuejs.org/">Vue.js</a> specifically. Special thanks to the great folks at <a href="https://laracasts.com">laracasts.com</a> for the fantastic instructional videos and support. I do not take responsibility for anyone that uses this demo for real ransom messages. If you are one of those people, please stop and think about what you're getting yourself into.</p>

				<p>If you like what you see and you're feeling generous, donations are much appreciated!</p>
				<div class="donate">
					<a href="https://paypal.me/KyleY">Donate</a>
				</div>
			</div>
		</div>
	</template>
	
	<template id="share-template">
		<div></div>
	</template>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/0.7.13/vue-router.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>